@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using payrol.Models;

<script src="~/Scripts/jquery.min.js"></script>

@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {

                $('#admin_table').dataTable();
                $(".update_button").click(function () {
                    //mohsin
                    //$('#dealname').val($(this).parent().parent().find('.dN').text());
                    //$('#dealpitch').val($(this).parent().parent().find('.pit').text());
                    //$('#BudgetStart').val($(this).parent().parent().find('.bs').text());
                    //$('#BudgetEnd').val($(this).parent().parent().find('.be').text());
                    //$('#Noofuppseller').val($(this).parent().parent().find('.noUp').text());
                    //$('#dealCountry').val($(this).parent().parent().find('.cou').text());

                    $('#user_id_modal').val($(this).attr('data-user'));
                });

                $(document).on("click", "#ubutton", function () {



                    $('#user_id_modal').val($(this).attr('data-user'));


                    $(".modal-body #user_id").val($(this).data('eid'));
                    $(".modal-body #count").val($(this).data('co'));
                    $(".modal-body #salary").val($(this).data('salary'));
                    $(".modal-body #da").val($(this).data('date'));
                    //$(".modal-body #Noofuppseller").val($(this).data(dir));

                });





                $("#change_user_data").click(function () {

                    var name = $("#name").val();
                    var cat = $("#cat").val();

                    var cp = $('#cp').val();
                    var sp = $('#sp').val();

                    var quantity = $("#quantity").val();



                    var hv = $('#user_id_modal').val();

                    $.post("/Shopkeeper/update_item",
                  {
                      name: name,
                      category: cat,
                      id: hv,
                      cp: cp,
                      sp: sp,
                      quantity: quantity,

                  },
                  function (data, status) {
                      if (data == "success") {
                          $.notify("Updated Successflly!", "success")

                          $('#user_update').modal('hide');
                          //location.reload(true);
                      }
                  });

                });

                $('#admin_table').on('click', '.update_button', function () {
                    var myBookId = $(this).data('id');
                    $("#user_id_modal").val(myBookId);
                    var j = $("#user_id_modal").val();
                });

            });
</script>
<section class="content">
    <div class="container-fluid">


        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            All Employees
                        </h2>

                    </div>
                    <div class="body">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Name</th>
                                    <th>Basic Salary</th>
                                    <th>Working Days</th>
                                    <th>Bonus</th>
                                    <th>Deduction</th>
                                    <th>Total Salary</th>
                                    
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Date</th>
                                    <th>Name</th>
                                    <th>Basic Salary</th>
                                    <th>Working Days</th>
                                    <th>Bonus</th>
                                    <th>Deduction</th>
                                    <th>Total Salary</th>

                                </tr>
                            </tfoot>
                            <tbody>
                                @{
                                    payEntities db = new payEntities();
                                    foreach (salary s in db.salaries)
                                    {
                                        Emp e = db.Emps.Find(s.eid);
                                        <tr>
                                            <th>@s.month</th>
                                            <th>@e.name</th>
                                            <th>@e.salary</th>
                                            <th>@s.days</th>
                                            <th>@s.bonus</th>
                                            <th>@s.deduction</th>
                                            <th>@((@s.days*@e.salary)+@s.bonus-@s.deduction)</th>

                                        </tr>
                                    }




                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>
<div id="user_update" class="modal fade">
    <div class="modal-dialog">
        <form method="post" action="/Employe/addBonus">
            <div class="modal-content modal-col-red">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Update Salary</h4>
                </div>
                <div class="modal-body">
                    <label for="email_address">Bonus</label>
                    <div class="form-line">
                        <input type="number" name="bonus" id="bonus" class="form-control" placeholder="Enter Bonus" required>
                    </div>
                    <br />
                    <label for="email_address">Deduction</label>

                    <div class="form-line">
                        <input type="number" name="ded" id="ded" class="form-control" placeholder="Enter Deduction Amount" required>
                    </div>

                    <input type="hidden" id="count" name="count" />
                    <input type="hidden" id="salary" name="salary" value="" />
                    <input type="hidden" id="user_id" name="user_id" value="" />

                    <input type="hidden" id="da" name="da" value="" />
                </div>
                <div class="modal-footer">
                    <input type="submit" type="submit" class="btn btn-link waves-effect" value="Submit" />
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                </div>

                <p id="my_id"></p>
            </div>
        </form>
    </div>
</div>

<script src="http://cdn.bootcss.com/notify/0.3.3/notify-combined.min.js"></script>